Flask==1.1.2
amcrest==1.7.1
flask-jsonpify==1.5.0
markovify==0.8.0
meteocalc==1.1.0
numpy==1.18.4
pandas==1.0.3
phue==1.1
pygsheets==2.0.3.1
pyowm==2.10.0
python-yr==1.4.5
pyyaml==5.3.1
roku==4.1.0
selenium>=3.141.0
sqlalchemy==1.3.17
