amcrest==1.7.1
beautifulsoup4==4.9.1
Flask>=1.1.2
flask_jsonpify==1.5.0
grafana-api==1.0.2
imageio==2.9.0
imageio-ffmpeg==0.4.2
kavalkilu>=1.1.22
lxml==4.5.1
markovify==0.8.2
meteocalc==1.1.0
moviepy==1.0.3
nltk==3.5
numpy==1.18.4
openwrt-luci-rpc==1.1.3
pandas==1.0.3
Pillow==7.1.2
phue==1.1
pyecobee==1.3.5
pygsheets==2.0.3.1
pylunar==0.6.0
pyowm==2.10.0
python-yr==1.4.5
requests>=2.23.0
roku==4.1.0
selenium==3.141.0
servertools>=1.1.13
setuptools==46.4.0
slacktools>=0.0.5
speedtest-cli==2.1.2
SQLAlchemy==1.3.17
versioneer==0.18
