
[Unit]
Description=Home Automation API
After=multi-user.target

[Service]
User=bobrock
Group=bobrock
Type=idle
ExecStart=/home/bobrock/venvs/stools/bin/python3 /home/bobrock/extras/servertools/api/homeauto/homeauto_api.py
Restart=on-failure

[Install]
WantedBy=multi-user.target