
[Unit]
Description=RTL 433 Data Streaming Service
After=multi-user.target

[Service]
User=bobrock
Group=bobrock
Type=idle
ExecStart=/home/bobrock/venvs/stools/bin/python3 /home/bobrock/extras/servertools/api/rf_temps/rf_stream.py -lvl debug
WorkingDirectory=/home/bobrock/extras/servertools
Restart=on-failure

[Install]
WantedBy=multi-user.target
